

@{
    ViewData["Title"] = "ChatBot";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $.ajax({
        type: "GET",
        url: "https://webchat.botframework.com/api/tokens",
        headers: {
            Authorization:
                "BotConnector BsN-yzjNPCM.GuiJKDbtmATdIslQWAgHBpQEzB8y5Io5r5ilBpdEgXA",
        },
        success: function (result) {
            console.log(result);
            let token = result.replace('"', '')
            console.log(token)
            let iframe = '<iframe src="https://webchat.botframework.com/embed/newResource?t=' + token + '" style="min-width: 400px; width: 100%; min-height: 400px"></iframe>'
            $("#bot").append(iframe)
        },
        error: function (result) {
            //handle the error
        },
    });
</script>

<div class="w-100 d-flex justify-content-start align-items-center shadow" id="fondo-registro">
    <div class="d-flex flex-column justify-content-end p-3 w-50 bg-white border-1 rounded h-75" style="margin-left:5%;">
        <div id="bot" style='min-width: 400px; width: 100%; min-height: 400px;'></div>
    </div>
</div>

<style>
    #fondo-registro{
        height:91vh;
        background-image: url("../images/fondo-index.jpg");
        background-size: cover;
        background-position: 50% 50%;
    }
   #webchat{
        height: 90% !important;
    }


</style>
