@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Contacto";
}

<div id="fondo-contacto" class="d-flex justify-content-start align-items-center">
    <div class="d-flex flex-column justify-content-around bg-white rounded border-1 w-50 p-3 shadow" style="margin-left:5%;">
        <h1>Contacto</h1>
        <form>
            <div class="mb-3">
                Motivo
                <select class="form-control">
                    <option disabled selected>Elegir una opcion..</option>
                    <option>Sugerencia</option>
                    <option>Reclamo</option>
                    <option>Otro</option>
                </select>
                @*<span asp-validation-for="Email"></span>*@
            </div>
            <div class="mb-3">
                Asunto
                <input type="text" class="form-control">
                @*<span asp-validation-for="Password"></span>*@
            </div>
            <div class="mb-3">
                Descripcion
                <textarea class="form-control" rows="3"></textarea>
                @*<span asp-validation-for="Password"></span>*@
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>

    </div>
</div>

<style>
    #fondo-contacto {
        height:91vh;
        background-image: url("../images/fondo-index.jpg");
        background-size: cover;
        background-position: 50% 50%;
    }
</style>