@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex align-content-center p-3" id="index">
    <div class="w-50">
        <h1 class="display-4">Cuenta Regresiva para Catar 2022</h1>
        <p>
            En la cuenta atrás para el comienzo de la cita mundialista en Catar,
            el 20 de noviembre, FIFA+ presenta 100 de los mejores momentos de la historia
            de la Copa Mundial de la FIFA.
        </p>
        <button class="btn btn-outline-info">Leer Más</button>
    </div>

</div>

<style>
    #index{
        height:550px;
        background: url("../../wwwroot/assets/fondo-index.jpeg")
    }
</style>
