<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProyectoWeb3</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProyectoWeb3.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css" />
</head>
<body class="d-flex">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;" id="menu">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <img src="~/images/Qatar2022.png" height="35" width="35" />
            <h2 class="fw-bolder">Futbolizados</h2>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto" id="nav-lateral">
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link text-white" aria-current="page">
                    <i class="fi fi-rr-home"></i>
                    Home
                </a>
            </li>
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Mundial" class="nav-link text-white">
                    <i class="fi fi-rr-trophy"></i>
                    Copa del Mundo
                </a>
            </li>
            <li>
                <a asp-area="" asp-controller="Partido" asp-action="Predicciones" class="nav-link text-white">
                    <i class="fi fi-rr-list-check"></i>
                    Predicciones
                </a>
            </li>
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Contacto" class="nav-link text-white">
                    <i class="fi fi-rr-users"></i>
                    Contacto
                </a>
            </li>
        </ul>
        <hr>
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fi fi-rr-portrait m-1"></i>
                <p class="m-1">Usuario</p>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" asp-area="" asp-controller="Usuario" asp-action="PerfilUsuario">Perfil</a></li>
                <li><a class="dropdown-item" asp-area="" asp-controller="Usuario" asp-action="Registrar">Registrarse</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" asp-area="" asp-controller="Usuario" asp-action="Logout">Cerrar Sesion</a></li>
            </ul>
        </div>
    </div>
    
    <div class="w-100" id="contenedor-render">

        <div id="contenedor-body">
            <main role="main">
                @RenderBody()
            </main>
        </div>

        <footer class="d-flex flex-wrap justify-content-around align-items-center border-top">
            <div class="d-flex align-items-center">
                <span class="text-muted">&copy; Universidad Nacional de la Matanza - Programacion Web 3</span>
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <partial name="/Views/Shared/_ValidationScriptsPartial.cshtml" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<style>
    body{
        margin: 0 !important;
    }
    footer{
        margin: 0 !important;
        padding-top: 0!important;
    }
    #menu{
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
    }
    #contenedor-render{
        position: absolute;
        top: 0;
        left: 280px;
        width: calc(100vw - 298px) !important;
    }
    #contenedor-body{
        height: 91vh;
    }
    footer{
        height: 8vh;
        margin-top:1vh;
    }
    #nav-lateral li:hover{
        background-color: #0d6efd;
        border-radius: 5px;
    }
</style>
