@model Entidades.Entidades.Partido

@{
    ViewData["Title"] = "Crear Partido";
}

<div class="w-100 d-flex justify-content-start align-items-center shadow" id="fondo-registro">
    <div class="d-flex flex-column justify-content-around p-3 w-50 bg-white border-1 rounded" style="margin-left:5%;">
        <h1>Prediccion del partido</h1>
        <form action="/Partido/CrearPartido" method="post">
            <div class="mb-3">
                Grupo
                <select class="form-control" @*name="" asp-for=""*@>
                    <option>A</option>
                </select>
                @*<span asp-validation-for="Email"></span>*@
            </div>
            <div class="mb-3">
                Seleccion1
                <select class="form-control" @*name="" asp-for=""*@>
                    <option>1</option>
                </select>
                Goles
                <input type="number" class="form-control" @*name="" asp-for=""*@ />
            </div>
            <div class="mb-3">
                Seleccion2
                <select class="form-control" @*name="" asp-for=""*@>
                    <option>2</option>
                </select>
                Goles
                <input type="number" class="form-control" @*name="" asp-for=""*@ />
            </div>
            <input type="submit" class="btn btn-primary" value="Registrar" />
        </form>
    </div>
</div>

<style>
    #fondo-registro {
        height: 91vh;
        background-image: url("../images/fondo-index.jpg");
        background-size: cover;
        background-position: 50% 50%;
    }
</style>
