@model Entidades.Entidades.UsuarioModelMetaData

@{
    ViewData["Title"] = "Iniciar Sesion";
}

<div class="w-100 d-flex justify-content-start align-items-center shadow" id="fondo-login">
    <div class="d-flex flex-column justify-content-around p-3 w-50 bg-white border-1 rounded" style="margin-left:5%;">
        <h1>Welcome back!</h1>
        <form action="/Usuario/IniciarSesion" method="post">
            <div class="mb-3">
                Email
                <input type="email" class="form-control" name="Email" asp-for="Email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                Contraseña
                <input type="password" class="form-control" name="Contraseña" asp-for="Contraseña">
                <span asp-validation-for="Contraseña" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <span class="text-danger">@ViewBag.Error</span>
            </div>
            <input type="submit" class="btn btn-primary" value="Iniciar Sesion"/>
        </form>
    </div>
</div>

<style>
    #fondo-login {
        height:91vh;
        background-image: url("../images/fondo-index.jpg");
        background-size: cover;
        background-position: 50% 50%;
    }
</style>