@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div id="fondo-perfil">
</div>

<style>
    #fondo-perfil {
        min-height: 650px;
        background-image: url("../images/fondo-index.jpg");
        background-size: cover;
        background-position: 50% 50%;
    }
</style>
