@model Entidades.Entidades.Usuario
@{
    ViewData["Title"] = "Perfil";
}

<div id="fondo-perfil" class="d-flex align-items-center">
    <div class="d-flex flex-column justify-content-around p-3 w-50 bg-white border-1 rounded" style="margin-left:5%;">
        <h2>Mis Datos</h2>
        <p>Email: @ViewBag.Email</p>
        <p>Contraseña: ******</p>
    </div>

</div>

<style>
    #fondo-perfil {
        height:91vh;
        background-image: url("../images/fondo-index.jpg");
        background-size: cover;
        background-position: 50% 50%;
    }
</style>
