@model Entidades.Usuario

<div class="w-100 d-flex justify-content-start align-items-center shadow" id="fondo-registro">
    <div class="d-flex flex-column justify-content-around p-3 w-50 h-75 bg-white border-1 rounded" style="margin-left:5%;">
        <h1>Formulario de Registro</h1>
        <form>
            <div class="mb-3">
                Email
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <span asp-validation-for="Email"></span>
            </div>
            <div class="mb-3">
                Contraseña
                <input type="password" class="form-control" id="exampleInputPassword1">
                <span asp-validation-for="Password"></span>
            </div>
            <div class="mb-3">
                Repetir Contraseña
                <input type="password" class="form-control" id="exampleInputPassword1">
                <span asp-validation-for="Password"></span>
            </div>
            <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
    </div>
</div>

<style>
    #fondo-registro{
        min-height: 650px;
        background-image: url("../images/fondo-index.jpg");
        background-size: cover;
        background-position: 50% 50%;
    }
</style>
