@model List<Entidades.Entidades.UsuarioModelMetaData>

@{
    ViewData["Title"] = "Usuarios";
}

<div id="fondo-usuarios" class="d-flex justify-content-center align-items-center">
    <table class="table py-3 bg-white border rounded shadow w-50">
        <tr>
            <th scope="col">idUsuario</th>
            <th scope="col">Email</th>
            <th scope="col">Contraseña</th>
        </tr>
        @foreach (var user in Model)
        {
            <tr scope="row">
                <td>
                    @user.IdUsuario
                </td>
                <td>
                    @user.Email
                </td>
                <td>
                    @user.Contraseña
                </td>
            </tr>
        }
    </table>
</div>

<style>
    #fondo-usuarios {
        height:91vh;
        background-image: url("../images/fondo-index.jpg");
        background-size: cover;
        background-position: 50% 50%;
    }
</style>
